* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 947px;
	background-color: #161819;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 424px;
	height: 498px;
	border-radius: 15px;
	background-color: #222527;
}

.card:not(:last-child) {
	margin-right: 50px;
}

.card__img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 376px;
	height: 280px;
	text-align: center;
	border-radius: 15px;
	background-color: #393A3E;
}

.card__img-icon {
	display: block;
	margin: auto;
}

.card__img-icon {
	position: absolute;
	top: 15px;
	right: 21px;
	transition: 1s;
}

.card__img-icon:hover {
	color: #00FFF2;
}

.card__context {
	text-align: center;
}

.card__title {
	padding: 23px 0 6px;
	font-size: 32px;
	letter-spacing: 2.5px;
	font-family: arial;
	color: #fff;
}

.card__description {
	width: 224px;
	margin: 0 auto;
	padding: 0 0 15px 0;
	font-size: 14px;
	letter-spacing: 1.2px;
	font-family: arial;
	color: rgba(255, 255, 255, 0.4);
}

.card__link {
	padding: 24px 0 15px;
	font-size: 24px;
	letter-spacing: 2.5px;
	font-family: arial;
	cursor: url(img/pointer.svg) 2 2, auto;
	color: rgba(255, 255, 255, 0.4);
}

.card__link::after {
	content: url(img/download.svg);
	cursor: url(img/pointer.svg) 2 2, auto;
	margin: 0 auto;
	font-family: arial;
	padding-left: 12px;
}